:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #a5a3a5;
  --gray10: #3a3539;
  --blanco: white;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--blanco);
  font-family: "Nunito", sans-serif;
  margin: 0;
}

header li {
  color: var(--gray20);
  margin-block-end: 16px;
}

.header {
  position: sticky;
  inset-block-start: -45px;
}
.header-content {
  position: relative;
  inset-block-start: 65px;
}

header {
  font-size: 14px;
  color: var(--blanco);
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: -208px;
  inline-size: 188px;
}

header a {
  color: var(--gray20);
  text-decoration: none;
}

header a:hover {
  color: var(--blanco);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

hr {
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
  font-weight: 700;
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em; /* 2 em equivaldria a 32 pixeles por que por defecto html tiene 16px de font-size y como
    es relativo los em pues 2 * 16 nos da == 32px == 2em */
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-block: 16px;
}

p {
  font-size: 1em;
  color: var(--gray20);
}

details[open] summary ~ * {
  animation: sweep 1s ease-in;
}

.hero {
  /* background: red; */
  /* background: url("../images/patron-1.png"); */
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);

  /*background-repeat: no-repeat;
  background-position: left top;
  background-size: cover; */
  height: 350px;
}

pre {
  background-color: var(--gray10);
  padding-block-start: 40px;
  padding-block-end: 40px;
  padding-inline-end: 85px;
  padding-inline-start: 40px;
  line-height: 24px;
  border-radius: 8px;
  border: 8px solid #5551ff;
  /*  box-shadow: inset 8px 8px gold; */
  box-shadow: -10px 10px 0px 0px #87a6e3;
  margin-block-end: 30px;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}
/* 
.section-content h3::after {
  content: "";
  height: 4px;
  width: 228px;
  background-color: red;
  display: inline-block;
} */

.section-content h3::before {
  content: counter(titleList) ". ";
}

body {
  background-color: #251f24;
}

.section-content:nth-of-type(1) img {
  margin-block-start: 40px;
  display: block;
}

.section-content img {
  max-inline-size: 100%;
}

blockquote {
  background-color: var(--gray10);
  margin-block-start: 80px;
  margin-block-end: 63px;
  border-radius: 8px;
  padding-inline-end: 17px;
  padding-inline-start: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
  line-height: 32px;
  font-size: 22px;
  margin-inline: 0px;
  font-weight: 400;
}

blockquote p {
  color: var(--blanco);
}

.main {
}

.wrapper {
  max-inline-size: 636px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider {
}

.slider-container {
  /*   block-size: 100px; */
  /* este elemento viene por defecto display inline y no podemos
  ponerle un ancho un alto */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  overflow-x: hidden;
  font-size: 0;
}

.slider-slide iframe {
  display: inline-block;
  margin: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  margin-block-start: 16px;
  text-align: center;
}

.slider-bullet-list a {
  background-color: white;
  inline-size: 15px;
  block-size: 15px;
  display: inline-block;
  border-radius: 50%;
}
