:root {
  font-size: 16px;
  --gray30: #212121;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  /* font-size: 3.75em; */
}

h2 {
  font-size: 2em; /* 2 em equivaldria a 32 pixeles por que por defecto html tiene 16px de font-size y como
    es relativo los em pues 2 * 16 nos da == 32px == 2em */
}

h3 {
  font-size: 24px;
}

p {
  font-size: 1em;
}

details[open] summary ~ * {
  animation: sweep 1s ease-in;
}

.hero {
  /* background: red; */
  /* background: url("../images/patron-1.png"); */
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/patron-1.png");
  /*background-repeat: no-repeat;
  background-position: left top;
  background-size: cover; */
  height: 350px;
}

pre {
  background-color: #fec62e;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::after {
  content: "";
  height: 4px;
  width: 228px;
  background-color: red;
  display: block;
}

.section-content h3::before {
  content: counter(titleList) ". ";
}
